@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style=" font-family: 'Anton', sans-serif;">Welcome to Marvel Monitors.</h1></br>
    <img src="/images/Capture.jpg" alt="images" width="300px"/><br />
    <button onclick="location.href='@Url.Action("Index","Monitors")'">Check Out Our Latest Moniters</button>  @*when user clicks they are redirected to index of monitors page*@

</div>
