@{ ViewData["Title"] = "Monitors List"; }


<h2>About Us</h2></br>

<p><b>We created Marvel Monitors Marketplace to offer you a huge assortment, more than just normal market products. Our Marketplace is like a virtual shopping mall that allows top-rated sellers to offer their products through MarvelMoniters.ca*</b></p>
</br>
<h2>Shipping</h2></br>
<h4><i>Best Buy Standards</i></h4></br>
<p>When you’re shopping Marketplace products we don’t want it to feel far off from our Marvel Monitors experience - that’s why all of our sellers are held to our high standards of shipping.</p></br>

<h4><i>Fast Shipping</i></h4></br>
<p>Most orders are shipped from the seller within 2-4 days but every seller has their own policy that may have exceptions based on location. See the seller’s policy on the product page for full details. </p></br>


<h4><i>Free Shipping Options</i></h4></br>
<p>Many of our sellers have free shipping options, and only charge shipping on larger items that require special delivery. See the seller’s policy on the product page for full details.</p></br>